body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  .row-btn {
    text-align: center;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background-color: #a79028;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #927d1d;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }